name: Deploy .NET Framework to AWS EC2

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar .NET Framework 4.8
        uses: microsoft/setup-msbuild@v1

      - name: Restaurar paquetes NuGet
        run: nuget restore DemoApi.sln

      - name: Compilar la solución
        run: msbuild DemoApi.sln /p:Configuration=Release /p:Platform="Any CPU" /v:diagnostic

      - name: Verificar archivos generados
        run: dir DemoApi\bin\Release\

      - name: Publicar aplicación
        run: |
          mkdir deploy
          Copy-Item -Path "DemoApi\bin\Release\*" -Destination "deploy\" -Recurse -Force

      - name: Transferir archivos a EC2
        uses: win-acme/ssh-action@v1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          password: ${{ secrets.EC2_PASSWORD }}
          port: 22
          command: |
            mkdir -p C:/inetpub/wwwroot/DemoApi
            cp -r deploy/* C:/inetpub/wwwroot/DemoApi/


      - name: Reiniciar IIS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          password: ${{ secrets.EC2_PASSWORD }}
          script: iisreset
