name: Deploy .NET Framework to AWS EC2

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar .NET Framework 4.8
        uses: microsoft/setup-msbuild@v1

      - name: Restaurar paquetes NuGet
        run: nuget restore DemoApi.sln

      - name: Compilar la solución
        run: msbuild DemoApi.sln /p:Configuration=Release /p:Platform="Any CPU" /v:diagnostic

      - name: Compilar y publicar la solución
        run: |
          msbuild DemoApi.sln /p:Configuration=Release /p:Platform="Any CPU" /p:DeployOnBuild=true /p:WebPublishMethod=FileSystem /p:PublishUrl="./publish" /p:PrecompileBeforePublish=true /p:EnableUpdateable=false /t:Build,Publish /v:diagnostic
      
      - name: Configurar AWS CLI
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region ${{ secrets.AWS_REGION }}

      - name: Transferir archivos a S3
        run: |
          aws s3 cp publish/ s3://demo-api-deploy --recursive
          
      - name: Descargar archivos desde S3 a EC2       
        run: |
          aws ssm send-command `
            --instance-ids "i-0e38624bf58cdf959" `
            --document-name "AWS-RunPowerShellScript" `
            --parameters commands=["aws s3 cp s3://demo-api-deploy/ C:\inetpub\wwwroot\DemoApi\ --recursive"] `
            --output text
